@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes animate-lines {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animated-gradient-lines-dark {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3clinearGradient id='g' x1='0%25' y1='0%25' x2='100%25' y2='0%25'%3e%3cstop offset='0%25' stop-color='%232563eb' /%3e%3cstop offset='50%25' stop-color='%2310b981' /%3e%3cstop offset='100%25' stop-color='%237c3aed' /%3e%3c/linearGradient%3e%3c/defs%3e%3cpath d='M0 100 C 250 50, 250 150, 500 100 S 750 50, 1000 100' stroke='url(%23g)' stroke-width='2' fill='none' stroke-linecap='round' stroke-opacity='0.2'/%3e%3cpath d='M0 200 C 250 150, 250 250, 500 200 S 750 150, 1000 200' stroke='url(%23g)' stroke-width='2' fill='none' stroke-linecap='round' stroke-opacity='0.2'/%3e%3cpath d='M0 300 C 250 250, 250 350, 500 300 S 750 250, 1000 300' stroke='url(%23g)' stroke-width='2' fill='none' stroke-linecap='round' stroke-opacity='0.2'/%3e%3c/svg%3e");
  background-size: 1000px 300px;
  animation: animate-lines 15s linear infinite;
}